<div id="bg">
  <img src="<%=img('forest-leaves.jpg')%>" alt="">
</div>
    <!-- Its dimensions and position are defined using its id selector in leaves.css -->
    <div id="leafContainer">
      <!--<div-->
          <!--style="top: -100px; left: 130px; -webkit-animation: fade 9.617873189970851s 3.340076894965023s, drop 9.617873189970851s 3.340076894965023s;">-->
        <!--<img src="img/realLeaf4.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.1473139161244035s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 409px; -webkit-animation: fade 8.44761614734307s 4.4616832316387445s, drop 8.44761614734307s 4.4616832316387445s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: clockwiseSpin 7.897858231328428s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 424px; -webkit-animation: fade 9.28418393060565s 4.999629509402439s, drop 9.28418393060565s 4.999629509402439s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 7.9270217306911945s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 233px; -webkit-animation: fade 9.15842302609235s 4.685419731540605s, drop 9.15842302609235s 4.685419731540605s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 5.161966037005186s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 30px; -webkit-animation: fade 7.001966403797269s 2.097423463128507s, drop 7.001966403797269s 2.097423463128507s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 6.882919557392597s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 98px; -webkit-animation: fade 5.806474417913705s 0.937733092578128s, drop 5.806474417913705s 0.937733092578128s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: counterclockwiseSpinAndFlip 7.234120167791843s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 93px; -webkit-animation: fade 8.593867944087833s 4.812128839548677s, drop 8.593867944087833s 4.812128839548677s;">-->
        <!--<img src="img/realLeaf4.png" style="-webkit-animation: clockwiseSpin 4.691516438499093s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 230px; -webkit-animation: fade 6.844465236645192s 0.5053003330249339s, drop 6.844465236645192s 0.5053003330249339s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 4.1751836175099015s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 211px; -webkit-animation: fade 8.873008754104376s 3.877767075318843s, drop 8.873008754104376s 3.877767075318843s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.100571520626545s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 333px; -webkit-animation: fade 6.2404488935135305s 4.571662530070171s, drop 6.2404488935135305s 4.571662530070171s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.589819681830704s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 7px; -webkit-animation: fade 9.097700095269829s 4.4334247533697635s, drop 9.097700095269829s 4.4334247533697635s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 4.739395568147302s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 424px; -webkit-animation: fade 8.934038348030299s 4.0121194056700915s, drop 8.934038348030299s 4.0121194056700915s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.475601930171251s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 222px; -webkit-animation: fade 7.18912588339299s 2.425628084456548s, drop 7.18912588339299s 2.425628084456548s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 7.799760490655899s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 396px; -webkit-animation: fade 8.50682147173211s 4.217981175752357s, drop 8.50682147173211s 4.217981175752357s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: clockwiseSpin 6.841280035674572s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 201px; -webkit-animation: fade 8.65220206324011s 2.4193483882118016s, drop 8.65220206324011s 2.4193483882118016s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: clockwiseSpin 6.949575290083885s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 200px; -webkit-animation: fade 7.3555913884192705s 3.195093866670504s, drop 7.3555913884192705s 3.195093866670504s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: clockwiseSpin 6.965443762950599s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 258px; -webkit-animation: fade 10.995548997074366s 1.1417837208136916s, drop 10.995548997074366s 1.1417837208136916s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: counterclockwiseSpinAndFlip 5.6707619512453675s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 156px; -webkit-animation: fade 9.632693056948483s 1.6165813617408276s, drop 9.632693056948483s 1.6165813617408276s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: clockwiseSpin 4.013800708577037s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 40px; -webkit-animation: fade 5.037749697454274s 0.8151454699691385s, drop 5.037749697454274s 0.8151454699691385s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.289031262509525s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 83px; -webkit-animation: fade 10.201502084732056s 2.7112726820632815s, drop 10.201502084732056s 2.7112726820632815s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.098692453466356s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 343px; -webkit-animation: fade 6.199915254488587s 1.9602881418541074s, drop 6.199915254488587s 1.9602881418541074s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 5.020484905689955s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 434px; -webkit-animation: fade 7.5302007449790835s 3.7708429293707013s, drop 7.5302007449790835s 3.7708429293707013s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 7.961859746836126s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 412px; -webkit-animation: fade 5.615180542226881s 2.4517610284965485s, drop 5.615180542226881s 2.4517610284965485s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 4.38765867613256s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 210px; -webkit-animation: fade 5.739418988581747s 0.08740858640521765s, drop 5.739418988581747s 0.08740858640521765s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 4.644977162592113s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 218px; -webkit-animation: fade 9.04072167351842s 2.6043369399849325s, drop 9.04072167351842s 2.6043369399849325s;">-->
        <!--<img src="img/realLeaf1.png" style="-webkit-animation: counterclockwiseSpinAndFlip 5.529311504215002s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 277px; -webkit-animation: fade 6.78351382073015s 3.3927063806913793s, drop 6.78351382073015s 3.3927063806913793s;">-->
        <!--<img src="img/realLeaf2.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.00809517968446s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 221px; -webkit-animation: fade 5.813707722350955s 0.7903940486721694s, drop 5.813707722350955s 0.7903940486721694s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: counterclockwiseSpinAndFlip 6.322303360328078s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 281px; -webkit-animation: fade 9.89987249020487s 0.7322652917355299s, drop 9.89987249020487s 0.7322652917355299s;">-->
        <!--<img src="img/realLeaf4.png" style="-webkit-animation: counterclockwiseSpinAndFlip 4.597434610128403s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 313px; -webkit-animation: fade 7.289652879815549s 3.173223639605567s, drop 7.289652879815549s 3.173223639605567s;">-->
        <!--<img src="img/realLeaf4.png" style="-webkit-animation: counterclockwiseSpinAndFlip 7.659837965853512s;"></div>-->
      <!--<div-->
          <!--style="top: -100px; left: 176px; -webkit-animation: fade 6.103151728399098s 4.426371158333495s, drop 6.103151728399098s 4.426371158333495s;">-->
        <!--<img src="img/realLeaf3.png" style="-webkit-animation: clockwiseSpin 4.757076392881572s;"></div>-->
    </div>
    <!-- its appearance, dimensions, and position are defined using its id selector in leaves.css -->
    <div id="message">
      <h1 class="font21 serif">Logan's Leaves</h1>
    </div>
