<% assets = { 'css' : ['sample.css'], 'js' : ['sample.js'] } %>
<div>
 Composed by hand:
écôlüm
 Decomposed by hand:
écôlüm
 Done

 Decomposed by NFD:
écôlüm
 ReComposed by NFC:
écôlüm
 Done
 
 Johann Heinrich Jürgen Böwig
 
 (&#x0065;&#x0301;)
 (&#x0075;&#x0308;)
 
<h1> Johann Heinrich Jürgen B&ouml;wig</h1>

<h2>Johann Heinrich Jürgen Böwig</h2>
 </div>
<div class="museo">
 Composed by hand:
écôlüm
 Decomposed by hand:
écôlüm
 Done

 Decomposed by NFD:
écôlüm
 ReComposed by NFC:
écôlüm
 Done
 
 Johann Heinrich Jürgen Böwig
 
 (&#x0065;&#x0301;)
 (&#x0075;&#x0308;)
 
<h1> Johann Heinrich Jürgen B&ouml;wig</h1>

<h2>Johann Heinrich Jürgen Böwig</h2>
 
</div>